@model IEnumerable<web.Models.SeatShowing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Taken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showing)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Taken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.SeatID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Showing.ShowingID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeatShowingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeatShowingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeatShowingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
