@model IEnumerable<web.Models.Showing>

@{
    ViewData["Title"] = "Showings";
}

<h1>Showings</h1>

<p>
    <a asp-action="Create">Create a new showing</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ayylmao
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
            <img src="@item.Movie.CoverImage" style="height: 100px; background-align:top"> </img>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ShowingID">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.ShowingID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ShowingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
